#imgs {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}


body{
  background-color:#EAF6F6;
}
hr{
  border-style: none;
  height: 2px;
  border-top-style:dotted;
  width:5%;
  border-width: 5px;
  border-color: grey;


}



h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}

a{
  color:#0000ff;
  text-decoration: underline;
}
a:hover{
  text-decoration:inherit;
}
